<div class="columnHidingContainer">
    <igx-column-actions igxColumnHiding #columnHidingUI [columns]="grid1.columns"
                       title="Column Hiding" filterColumnsPrompt="Type here to search">
    </igx-column-actions>
</div>

<ng-template igxHeader let-column #pinTemplate>
    <div class="title-inner">
        <span style="float:left">{{column.field}}</span>
        <igx-icon class="pin-icon" family="fas" name="fa-thumbtack" [attr.draggable]="false" ></igx-icon>
    </div>
</ng-template>

<igx-grid #grid1 id="grid1" [data]="localData" [autoGenerate]="false" [paging]="true" [perPage]="6" (onColumnInit)="initColumns($event)"
(onSelection)="selectCell($event)" [allowFiltering]="true">
    <igx-column [resizable]="true" [headerTemplate]="pinTemplate" [movable]="true" [pinned]="true" [pipeArgs]="pipeArgs" [editable]="true" [groupable]="true"  field="Name" [sortable]="true" header="d">
        <ng-template igxCellEditor let-cell="cell">
            <label for="price">
                Enter the new price tag
            </label>
            <input name="price" type="number" [(ngModel)]="cell.editValue" />
        </ng-template>
    </igx-column>
    <igx-column [resizable]="true" [headerTemplate]="pinTemplate" [movable]="true" [pinned]="true" [groupable]="true" field="AthleteNumber" [sortable]="false" header="Athlete number" [filterable]="false"></igx-column>
    <igx-column [resizable]="true" [headerTemplate]="pinTemplate" [movable]="true" field="TrackProgress" header="Track progress" [filterable]="false">
        <ng-template igxCell let-value>
            <igx-linear-bar [value]="value" [max]="100"></igx-linear-bar>
        </ng-template>
    </igx-column>
    <ng-template #indTemplate let-column="column">
        <igx-icon [attr.draggable]="false" >{{column.expanded ? 'remove' : 'add'}} </igx-icon>
    </ng-template>
    <igx-column-group header="Customer Information" [collapsible]="true" [collapsibleIndicatorTemplate]="indTemplate"> <!-- Initially the column groups will be expanded--->
        <!--The column below will be visible when its parent is collapsed-->
        <igx-column [movable]="true" field="CustomerName" header="Fullname" [dataType]="'string'" [visibleWhenCollapsed]="true"></igx-column>
        <!--The three columns below will be visible when its parent is expanded-->
        <igx-column [movable]="true" field="CustomerID" header="Customer ID" [dataType]="'string'" [visibleWhenCollapsed]="false"></igx-column>
        <igx-column [movable]="true" field="FirstName" header="First Name" [dataType]="'string'" [visibleWhenCollapsed]="false">
        </igx-column>
        <igx-column [movable]="true" field="LastName" header="Last Name" [dataType]="'string'" [visibleWhenCollapsed]="false">
        </igx-column>
        <igx-column-group header="Customer Address"> <!--This column visibility will not be changed based on parent expand/collapsed state-->
            <igx-column field="Country" header="Country" [dataType]="'string'" [sortable]="true">
            </igx-column>
            <igx-column field="City" header="City" [dataType]="'string'" [sortable]="true">
            </igx-column>
        </igx-column-group>
    </igx-column-group>
    <igx-column [dataType]="'boolean'">
    </igx-column>
    <igx-grid-toolbar>
        <igx-grid-toolbar-title>Employees</igx-grid-toolbar-title>
        <igx-grid-toolbar-actions>
            <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
        </igx-grid-toolbar-actions>
    </igx-grid-toolbar>
</igx-grid>